
.carousel:hover .carousel-control-prev-icon,
.carousel:hover .carousel-control-next-icon {
  opacity: 1 !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  opacity: 0 !important;
  transition: opacity 0.3s ease;
}

.section-police-title {
  font-size: 14px;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.heading-bar::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 10px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-top: 2px solid #016735;
  border-bottom: 2px solid #016735;
  opacity: 0.1;
}

.countdown-box {
  height: 60px;
  width: 60px;
}

.count-number {
  font-size: 22px;
  font-weight: bold;
  animation: slideDown 0.6s ease;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}