.login-page {
  height: 550px;
}

.logo {
  height: 40px;
}

.card {
  backdrop-filter: blur(5px);
  border: none;
}

.btn-submit {
  background-color: #198754 !important;
  color: white !important;
  border: none !important;
}
.btn-submit:hover {
  background-color: #198754;
  opacity: 0.8;
}

.card {
  width: 100%;
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0.9);
}
