@import url("./views/css/Global.css");
html {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

body {
  margin: 0;
  /* font-family: "Quicksand", sans-serif !important; */
  font-family: 'Calibri', system-ui, -apple-system, sans-serif !important;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

.form-checkbox_lg {
  width: 20px;
  height: 20px;
}

.form-checkbox_md,
.form-radio_md {
  width: 16px;
  height: 16px;
}

.pagination button:focus,
.pagination button:active {
  outline: none !important;
  box-shadow: none !important;
}

button:disabled {
  border: none;
  opacity: 0.5;
  cursor: not-allowed;
}

.cursor-pointer {
  cursor: pointer;
}


.text-hover:hover {
  color: rgb(255, 123, 0) !important;
  opacity: 0.8;
  cursor: pointer;
}

.hover {
  transition: transform 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    box-shadow 0.35s ease;
}
.hover:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 10px rgba(255, 123, 0, 0.4);
}

.btn.active {
  color: white !important;
  background-color: red !important;
}

.text-active {
  color: rgb(255, 94, 0) !important;
}

.fs-body {
  font-size: 14px;
}

.fs-7 {
  font-size: 14px !important;
}

.fs-8 {
  font-size: 12px !important;
}

.expandable-content:not(.show-all):after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  content: "";
  max-height: 10rem;
  background: linear-gradient(
    0,
    var(--color-background) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.btn-showmore {
  position: relative;
  margin: auto;
  display: flex;
  gap: var(--spacing-1);
  border-color: var(--color-secondary);
  background-color: transparent;
  font-weight: 600;
  color: var(--color-secondary);
}

.btn-showmore:hover {
  color: white;
  background-color: var(--color-secondary);
}

.no-focus:focus {
    outline: none !important;
    box-shadow: none !important;
}

/* Ẩn modal khi chưa xuất hiện */
.modal.fade .modal-dialog.slide-right {
  transform: translateX(100%) !important;
  transition: transform 0.4s ease !important;
}

/* Khi modal hiển thị */
.modal.show .modal-dialog.slide-right {
  transform: translateX(0%) !important;
}